/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Merriweather.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	font-family: 'Merriweather';
}

header{
	padding:5px;

}
header a{
	-webkit-transition: .5s; 
	transition: .5s;
}
header a:link, header a:visited{
	text-decoration: none;
	text-shadow: 5px 5px 10px black;	
	
}
header a:hover{
	font-size: 105%;
}
header h1{
	font-family: sans-serif;
}

header div a span.color1{
	text-shadow: 5px 5px 10px black, 1px 1px 2px #CC0000;		
}

header div a span.color2{
	text-shadow: 5px 5px 10px black, 1px 1px 2px #525252;		
}

header #left{
	text-align: left;
	font-size: 300%;
	
}

header #photoleft{
	text-align: left;
	font-size: 190%;

}


header #right{
	text-align: right;
	font-size: 190%;
	text-shadow: 3px 3px 7px silver;
}

footer div#copyrights{
	font-size: 80%;
	line-height: 105%;
	font-weight: bold;
	padding: 1px 0px 1px 0px;
	text-align: center;
	
}
#primarytable{
	display: table;
}
#primaryrow{
	display: table-row;
}
#mainsection, #aside{
	display: table-cell;
	vertical-align: top;
}

#aside{
	padding:15px;
	width: 350px;
	border:thin solid;
	border-right-color: #525252;
	border-top-color: #CC0000;
	border-left-color: #CC0000;
	border-bottom-color: #525252;
	
}
#mainsection{
	padding: 0px 10px 10px 5px;
	
}
#mainsection p{
	text-align: justify;
}
h4{
	text-align: center;
}
span.color1{
	color: #CC0000;
}
span.color2{
	color: #525252;
}
#daylinksection{
	display: table-cell;
	border:thin solid ;
	margin: 0px;
	padding: 5px;
	border-right-color: #525252;
	border-top-color: #CC0000;
	border-left-color: #CC0000;
	border-bottom-color: #525252;
	width: 125px;
	text-align: left;
	vertical-align: top;
	background-color: #525252;
}
#daydescriptionsection{
	display: table-cell;	
	
	padding: 10px;
	background-color: #FEA71C;
}

#daylinksection ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}


#daylinksection a, #mainlinksection a{
	text-decoration: none;
}


#daylinksection ul li a:link, #daylinksection ul li a:visited,#mainlinksection ul li a:link, #mainlinksection ul li a:visited{
	color: white;
}

#daylinksection .notselected{
	transition: .5s;
}

#daylinksection .notselected:hover{
	text-shadow: 5px 5px 4px  black;
	font-size: 110%;
}


#daylinksection ul li.selected{
	background-color: #CC0000;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
	text-shadow: 5px 5px 4px  black;
	
}

#mainlinksection ul li{
	display: inline;
	list-style-type: none;
	padding: 10px;
	margin: 50px;

}


#daydescriptionsection #narration{
	display: table-cell;
	vertical-align: top;
	padding-right:10px;
}

#daydescriptionsection #image{
	display: table-cell;
	vertical-align: top;
	padding-left:10px;
}


#mainlinksection{
	border-width: thin;
	
	background-color: #525252;
	margin: 0px;
	padding: 0px;
}

#mainlinksection ul li.selected{
	background-color: #CC0000;
	padding: 10px;
	margin: 50px;
	border-radius: 12px;
	text-shadow: 5px 5px 4px black;
}

#mainlinksection a{
	text-decoration: none;
	transition: .5s;
}

#mainlinksection a:hover{
	text-shadow: 5px 5px 4px  black;
	font-size: 105%;
}


#dhammasetu{
	text-align: center;
}


#dhammasetu p#large{
	font-size: large;
	font-weight: bold;
}

#dhammasetu p#normal{
	font-size: medium;
}

table{
	border: thin solid;
}
tr{
	border: thin solid;	
}
td,th{
	border: thin inset gray;
	text-align: left;
	width: 200px;
	padding-left: 5px;
}
th{
	text-align: center;
}

p a:link, p a:visited{
	color: #CC0000;
	text-decoration: none;
}


p a:hover{
	color: #009DCB;
	text-decoration: underline;
}
/**/
/*#525252*/