@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Merriweather.woff2)  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	font-family: 'Merriweather';
}

header{
	padding:5px;

}
header a{
	-webkit-transition: .5s; 
	transition: .5s;
}
header a:link, header a:visited{
	text-decoration: none;
	text-shadow: 5px 5px 10px black;	
	
}
header a:hover{
	font-size: 105%;
}

header #left{
	text-align: left;
	font-size: 300%;	
}

header div a span.color1{
	text-shadow: 5px 5px 10px black, 1px 1px 2px #CC0000;		
}

header div a span.color2{
	text-shadow: 5px 5px 10px black, 1px 1px 2px #525252;		
}

header #right{
	text-align: right;
	font-size: 190%;
	text-shadow: 3px 3px 7px silver;
}


footer div#copyrights{
	font-size: 80%;
	font-weight: bold;
	line-height: 105%;
	padding: 1px 0px 1px 0px;
	text-align: center;

}

#daylinksection{
	display: table-cell;
	margin: 0px;
	padding: 5px;
	width: 125px;
	text-align: left;
	vertical-align: top;
	background-color: #525252;
}

#photosection{
	padding: 30px 20px 20px 20px;
	background-color: #FEA71C;
}


@media screen and (max-device-width: 720px){

	#headarticle{
		font-size: 100%;
	}


	#mainsection{
		padding: 0px 10px 10px 5px;
		width: 100%;
	}

	#aside{
		font-size: 100%;
		margin-top: 20px;
		padding:10px;
		border:thin inset;
		border-right-color: #525252;
		border-top-color: #CC0000;
		border-left-color: #CC0000;
		border-bottom-color: #525252;
		text-align: center;
	}

	#aside img#dhammasetupagoda{
		width: 80%;
	}

	#aside img#dhammasetulocation{
		width: 80%;
	}

	#aside table{
		width: 80%;
		font-size: 150%
	}

	#mainlinksection{
		background-color: #525252;	
		padding: 2px 0px 5px 0px;
	}

	#mainarticle{
		font-size: 100%;
		margin-top: 0px;
	}


	#mainlinksection ul li{
		display: list-item;
		list-style-type: none;
		padding: 10px;
		margin: 0px;
	}

	#mainlinksection ul li.selected{
		background-color: #CC0000;
		/*border: thin solid;*/
		border-radius: 12px;
		text-shadow: 5px 5px 4px black;
		width: 38%;
	}
	#daylinksection{
		display:none;
	}

	#daylinksectionsmall{
		text-align: center;
		color: white;
		margin: 0px;
		padding: 20px;
		background-color: #525252;

	}

	#daylinksectionsmall  a{
		margin: 10% 0%;
		padding: 5%;
		font-size: 250%;
		font-weight: bold;
		text-decoration: none;
	}

	#daylinksectionsmall a.selected{
		padding: 2%;
		background-color: #CC0000;
		border-radius: 12px;
		text-shadow: 5px 5px 4px black;
	}

	#photosection p a{
		transition:.4s;
	}


	#photosection p a:hover{
		box-shadow: 5px 5px 10px #525252;
	}


	#res_hd{
		display: none;
	}

	#res_ld img{
		width: 100%;
		padding: 5px;
	}

	#mobiletedtalk{

	}

	#tablettedtalk{
		display: none;
	}

	#pctedtalk{
		display: none;
	}

}

@media only screen and (min-device-width: 721px) and (max-device-width: 1280px){

	#headarticle{
		font-size: 90%;
	}

	#mainarticle{
		font-size: 90%;	
	}

	#mainsection{
		padding: 0px 10px 10px 5px;
		width: 100%;
	}

	#aside{
		margin-top: 20px;
		font-size: 80%;
		padding:10px;
		border:thin inset;
		border-right-color: #525252;
		border-top-color: #CC0000;
		border-left-color: #CC0000;
		border-bottom-color: #525252;
	}

	#aside img#dhammasetupagoda{
		width: 70%;
	}

	#aside img#dhammasetulocation{
		width: 70%;
	}

	#aside table{
		width: 80%;
		font-size: 120%
	}


	#mainlinksection{
		background-color: #525252;	
		padding: 0px;
		margin: 5px 0px 10px 0px;
		font-size: 115%
	}


	#mainlinksection ul li{
		display: inline;
		list-style-type: none;
		padding: 10px;
		margin: 50px;
	}

	#mainlinksection ul li.selected{
		background-color: #CC0000;
		/*border: thin solid;*/
		border-radius: 12px;
		text-shadow: 5px 5px 4px black;		
	}

	#daylinksectionsmall{
		display: none;
	}

	#photosection{
		width:95.7%;
	}

	#photosection img{
		width: 100%;
	}

	#photosection a{
		transition:.4s;
	}


	#photosection p a:hover{
		box-shadow: 5px 5px 10px #525252;
	}

	#res_hd img{
		width: 48.5%;
		padding: 5px;
	}

	#res_ld{
		display: none;
	}

	#mobiletedtalk{
		display: none;
	}


	#pctedtalk{
		display: none;
	}
}



@media only screen and (min-device-width: 1281px){

	#headarticle{
		font-size: 100%;
	}

	#mainsection{
		vertical-align: top;
		display: table-cell;
		padding: 0px 10px 10px 5px;
		
	}

	#aside{
		
		display: table-cell;
		padding:10px 10px 0px 10px;
		border:thin inset;
		font-size: 95%;
		border-right-color: #525252;
		border-top-color: #CC0000;
		border-left-color: #CC0000;
		border-bottom-color: #525252;
		
	}

	#mainlinksection{
		background-color: #525252;	
		padding: 0px;
		margin: 5px 0px 10px 0px;
		font-size: 105%
	}


	#mainlinksection ul li{
		display: inline;
		list-style-type: none;
		padding: 10px;
		margin: 50px;
	}

	#mainlinksection ul li.selected{
		background-color: #CC0000;
		/*border: thin solid;*/
		border-radius: 12px;
		text-shadow: 5px 5px 4px black;		
	}

	#daylinksectionsmall{
		display: none;
	}

	#photosection img{
		opacity: 1;
		padding: 5px;
	}


	#photosection a:hover img{
		opacity: .80;
	}

	#photosection a{
		transition:.4s;
	}


	#photosection a:hover{
		box-shadow: 2px 2px 2px #525252;
	}

	#res_hd img{
		width: 32%;
		height: 14em;
	}

	#res_ld{
		display: none;
	}

	#mobiletedtalk{
		display: none;
	}

	#tablettedtalk{
		display: none;
	}

	#pctedtalk{
		
	}
}

#mainarticle{
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #FEA71C;
}

#mainsection p{
	text-align: justify;
}

p.large{
	font-size: 125%;
	font-weight: bold;
}

p.normal{
	font-size: 100%;
}




span.color1{
	color: #CC0000;
}
span.color2{
	color: #525252;
}


#daylinksection ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}


#mainlinksection a{
	text-decoration: none;
	transition: .5s;
}

#mainlinksection a:hover{
	text-shadow: 5px 5px 4px  black;
	font-size: 105%;
}

#daylinksection ul {
	text-align: center;
}

#daylinksection a{
	text-decoration: none;
}


#daylinksection ul li a:link, #daylinksection ul li a:visited,#mainlinksection ul li a:link, #mainlinksection ul li a:visited,#daylinksectionsmall a:link, #daylinksectionsmall a:visited{
	color: white;
}

#daylinksection .notselected{
	transition: .5s;
}

#daylinksection .notselected:hover, #daylinksectionsmall .notselected:{
	text-shadow: 5px 5px 4px  black;
	font-size: 110%;
}

#daylinksection ul li.selected{
	background-color: #CC0000;
	padding: 6px;
	margin: 10px 10px 0px 10px;
	border-radius: 12px;
}

#vipassanaintropic{
	vertical-align: top;
	float: right;
	padding: 15px;
	vertical-align: top;

}


p a:link, p a:visited{
	color: #CC0000;
	text-decoration: none;
}


p a:hover{
	color: #009DCB;
	text-decoration: underline;
}
table{
	border: thin solid;
	margin: 0px;
}
tr{
	border: thin solid;	
}
td,th{
	border: thin inset gray;
	text-align: left;
	width: 200px;
	padding-left: 5px;
}
th{
	text-align: center;
}

#mainsection p img{
	border:thin none;
}
div#photopage{
	background-color: #FEA71C;
}